/* ========================== 
 			file into
========================== */
/*
 * File       : index.scss
 * Author     : Yoo In Yong
 * Dependency : /include/css/reset.css

 * SUMMARY:
 *  01) setting
 *  02) common
 *  03) nav
 *  04) cover
 *  05) content
 *  06) popup
 *  07) media query
*/



/* ========================== 
		01) setting
========================== */
// color
$color-pink: #f91858;
$color-blue: #171c8f;
$color-white: #ffffff;
$color-black: #333;
$color-gray: #999;
$color-bg: rgba(0, 0, 0, 0.5);
$color-bg-beige: #fffaf6;
$color-key: $color-pink;

// font
$font-poppins: 'Poppins', sans-serif;




/* ========================== 
		02) common
========================== */
.main-contents{
	background-color: $color-white;
	article{
		overflow: hidden;
		padding: 100px 50px 120px;
	}
}
.main-conbox{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	h3{
		display: inline-block;
		margin-bottom: 60px;
		background: linear-gradient(180deg, transparent 75%, rgba(239,66,111,.35) 25%);
		font-size: 10rem;
		line-height: 1em;
		font-weight: 800;
		color: $color-blue;
		font-family: $font-poppins;
	}
	p{
		font-size: 1.8rem;
		line-height: 1.7em;
		word-break: keep-all;
	}
}

.btn-top{
	opacity: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.9);
	color: $color-black;
	text-align: center;
	line-height: 1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-box-shadow: 0 0 5px rgb(0 0 0 / 17%);
	box-shadow: 0 0 5px rgb(0 0 0 / 17%);
	i{
		font-size: 25px;
	}
	&.on{
		opacity: 1;
	}
	&:hover{
		background-color: $color-pink;
		color: $color-white;
	}
}


/* ========================== 
		03) nav
========================== */
.header{
	position: relative;
}
.nav{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100vh;
}
.nav-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.9);
	text-align: center;
}
.nav-menu{
	li{
		a{
			display: inline-block;
			position: relative;
			padding: 20px;
			font-size: 8rem;
			-webkit-text-stroke: calc(0.01em + 1px) $color-pink;
			color: transparent;
			font-weight: 700;
			-webkit-transition: .3s;
			transition: .3s;
			&:after{
				display: block;
				content: '';
				position: absolute;
				bottom: 10px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				width: 0;
				height: 10px;
				background-color: $color-pink;
				-webkit-transition: .3s;
				transition: .3s;
			}
			&:hover{
				-webkit-text-stroke: calc(0.01em + 1px) $color-white;
				color: $color-white;
			}
			&:hover:after{
				width: 90%;
			}
		}
	}
}

.btn-nav{
	display: block;
	position: fixed;
	top: 40px;
	right: 40px;
	z-index: 5;
	width: 40px;
	height: 40px;
	z-index: 10;
	strong{
		display: inline-block;
		position: relative;
		z-index: 10;
		width: 35px;
		height: 3px;
		background-color: $color-gray;
		-webkit-transition: .3s;
		transition: .3s;
		&:before,
		&:after{
			display: block;
			content: '';
			position: absolute;
			z-index: 10;
			left: 0;
			width: 35px;
			height: 3px;
			background-color: $color-gray;
			-webkit-transition: .3s;
			transition: .3s;
		}
		&:before{
			top: -10px;
		}
		&:after{
			bottom: -10px;
		}
	}
	&:hover strong,
	&:hover strong:before,
	&:hover strong:after,
	&.active strong,
	&.active strong:before,
	&.active strong:after{
		background-color: $color-pink;
	}
	&.active strong{
		-webkit-animation: spin1 0.3s linear forwards;
		animation: spin1 0.3s linear forwards;
	}
	&.active strong:before{
		-webkit-animation: spin2 0.3s linear forwards;
		animation: spin2 0.3s linear forwards;
	}
	&.active strong:after{
		-webkit-animation: spin3 0.3s linear forwards;
		animation: spin3 0.3s linear forwards;
	}
	&.inactive strong{
		-webkit-animation: respin1 0.3s linear forwards;
		animation: respin1 0.3s linear forwards;
	}
	&.inactive strong:before{
		-webkit-animation: respin2 0.3s linear forwards;
		animation: respin2 0.3s linear forwards;
	}
	&.inactive strong:after{
		-webkit-animation: respin3 0.3s linear forwards;
		animation: respin3 0.3s linear forwards;
	}
}
@keyframes spin1{
	0%{-webkit-transform: none;transform: none;}
	50%{-webkit-transform: none;transform: none;}
	100%{-webkit-transform: rotate(135deg);transform: rotate(135deg);}
}
@keyframes spin2{
	0%{-webkit-transform: none;transform: none;}
	50%{top: 0;-webkit-transform: none;transform: none;}
	100%{top: 0;-webkit-transform: rotate(90deg);transform: rotate(90deg);}
}
@keyframes spin3{
	0%{opacity: 1;-webkit-transform: none;transform: none;}
	50%{opacity: 1;bottom: 0;-webkit-transform: none;transform: none;}
	100%{opacity: 0;bottom: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes respin1{
	0%{-webkit-transform: rotate(135deg);transform: rotate(135deg);}
	50%{-webkit-transform: none;transform: none;}
	100%{-webkit-transform: none;transform: none;}
}
@keyframes respin2{
	0%{top: 0;-webkit-transform: rotate(90deg);transform: rotate(90deg);}
	50%{top: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes respin3{
	0%{opacity: 0;bottom: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	50%{opacity: 1;bottom: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	0%{opacity: 1;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

/* ========================== 
		04) cover
========================== */
.cover-contents{
	position: relative;
	height: 100vh;
	padding: 150px 100px;
}
.cover-bg{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url('../img/img_main.jpg');
	background-size: cover;
	background-position: center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	&:after{
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.6);
	}
}
.cover-wrap{
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.cover-tit{
	opacity: 0;
}
.cover-typing{
	display: inline-block;
	padding-right: 10px;
	border-right: 1px solid transparent;
	font-weight: 700;
	font-size: 12rem;
	line-height: 1.2em;
	color: rgba(255,255,255,.8);
	animation: cursor 1s infinite;
} 
.cover-name{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-top: 100px;
	font-size: 6rem;
	font-family: $font-poppins;
	color: rgba(255,255,255,.8);
	text-align: right;
	span{
		font-size: 3rem;
	}
	strong{
		animation: name 5s infinite;
	}
}
@keyframes cursor{ 
	0%{border-color: transparent;} 
	50%{border-color: $color-pink;}
	100%{border-color: transparent;} 
}
@keyframes name{ 
	0%{color: rgba(255,255,255,.8);} 
	50%{color: $color-pink;} 
	100%{color: rgba(255,255,255,.8);} 
}

/* ========================== 
		05) content
========================== */
/* who */
.who-wrap{
	background-color: $color-bg-beige;
	.main-conbox p{
		text-align: right;
	}
}

/* what */
.what-list{
	li{
		display: flex;
		align-items: center;
		position: relative;
		padding: 40px;
		background-color: $color-bg-beige;
		transition-property: opacity,transform,box-shadow !important;
		&:hover{
			-webkit-box-shadow: 5px 9px 15px 0px rgb(114 114 114 / 25%);
			box-shadow: 5px 9px 15px 0px rgb(114 114 114 / 25%);
		}
		& + li{
			margin-top: 20px;
		}
		strong{
			display: inline-block;
			width: 30%;
			font-size: 3rem;
			color: $color-black;
			font-weight: 600;
		}
		p{
			width: 70%;
		}
	}
}

/* how */
.how-wrap{
	background-color: $color-bg-beige;
}
.how-list{
	display: flex;
	li{
		position: relative;
		width: 30%;
		min-height: 300px;
		padding: 50px;
		background-color: $color-white;
		& + li{
			margin-left: 5%;
		}
		&:before,
		&:after,
		div:before,
		div:after{
			display: block;
			content: '';
			position: absolute;
			background-color: $color-blue;
			-webkit-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
		}
		&:before{
			top: 0;
			left: 0;
			width: 0;
			height: 7px;
		}
		&:after{
			top: 0;
			right: 0;
			width: 7px;
			height: 0;
		}
		div:before{
			bottom: 0;
			right: 0;
			width: 0;
			height: 7px;
		}
		div:after{
			bottom: 0;
			left: 0;
			width: 7px;
			height: 0;
		}
		&:hover{
			&:before{
				width: 100%;
			}
			&:after{
				height: 100%;
				transition-delay: .2s;
			}
			div:before{
				width: 100%;
				transition-delay: .4s;
			}
			div:after{
				height: 100%;
				transition-delay: .6s;
			}
		}
		strong{
			display: inline-block;
			margin-bottom: 2rem;
			padding-bottom: 1rem;
			padding-right: 5rem;
			border-bottom: 1px solid #ddd;
			font-size: 3rem;
			color: $color-black;
			font-weight: 600;
		}
		p{
			font-size: 2rem;
		}
	}
}

/* project */
.main-contents{
	.project-wrap{
		position: relative;
		height: auto;
	}
}

.pro-tab-wrap{
	.pro-tab{
		display: flex;
		li{
			position: relative;
			a{
				font-size: 3rem;
				line-height: 1.4em;
				font-weight: 700;
				color: $color-gray;
				.cnt{
					display: inline-block;
					position: absolute;
					top: -10px;
					right: -15px;
					width: 30px;
					height: 30px;
					padding: 7px 0;
					border-radius: 50%;
					background-color: rgba(255, 0, 0, 0.85);
					font-size: 1.6rem;
					line-height: 1em;
					color: $color-white;
					text-align: center;
				}
			}
			&.on{
				a{
					color: $color-black;
				}
			}
			& + li{
				margin-left: 100px;
			}
		}
	}
	.help-text{
		margin-top: 20px;
		p{
			display: none;
			font-size: 14px;
			line-height: 1.4em;
			color: $color-gray;
			word-break: keep-all;
			strong{
				font-weight: 700;
				color: $color-pink;
			}
			&.on{
				display: block;
			}
		}
	}
}

.pro-list-wrap{
	width: 100%;
	margin-top: 40px;
	.pro-list{
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-top: -20px;
		.pro-conbox{
			width: calc((100% - 90px)/3);
			margin-left: 30px;
			margin-top: 20px;
			.img-wrap{
				overflow: hidden;
				a{
					display: block;
					position: relative;
					&:before,
					&:after{
						display: block;
						position: absolute;
						z-index: 1;
						-webkit-transition: 0.4s;
						transition: 0.4s;
						opacity: 0;
					}
					&:before{
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.8);
					}
					&:after{
						content: '\e980';
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						font-family: xeicon;
						font-size: 3rem;
						color: $color-white;
					}
					&:hover:before,
					&:hover:after{
						opacity: 1;
					}
					img{
						max-width: 100%;
						-webkit-transition: 0.5s;
						transition: 0.5s;
					}
					&:hover img{
						-webkit-transform: scale(1.03);
						transform: scale(1.03);
					}
				}
			}
			.pro-text{
				padding: 20px 0;
				text-align: center;
				span{
					display: inline-block;
					padding: 5px 10px;
					margin: 0 2px;
					border-radius: 2rem;
					font-size: 14px;
					color: $color-white;
					vertical-align: middle;
					&.pro-deg{
						background-color: $color-black;
					}
				}
				.pro-tit{
					display: block;
					margin-top: 10px;
					font-size: 2rem;
					line-height: 1.2em;
					font-weight: 700;
					word-break: keep-all;
					.pro-notopen{
						width: 20px;
						height: 20px;
						padding: 4px;
						border-radius: 50%;
						background-color: #f00;
						font-size: 12px;
						line-height: 1em;
						color: $color-white;
					}
				}
			}
			&.new{
				.pro-type{
					background-color: $color-blue;
				}
			}
			&.legacy{
				.pro-type{
					background-color: $color-pink;
				}
			}
		}
	}
}



/* contact */
.contact-wrap{
	position: relative;
	background-color: $color-bg-beige;
}
.contact-conbox{
	padding: 50px 0;
	dl{
		display: flex;
		align-items: center;
		& + dl{
			margin-top: 50px;
		}
		dt{
			width: 70px;
			text-align: center;
			i{
				font-size: 6rem;
			}
		}
		&:first-child dt i{
			font-size: 7rem;
		}
		dd{
			margin-left: 20px;
			font-size: 5rem;
			font-weight: 600;
			word-break: break-all;
		}
	}
}
.copyright{
	padding: 20px 0;
	background-color: #e3dad2;
	text-align: center;
	p{
		color: $color-black;
		font-size: 14px;
	}
}


/* ========================== 
 		06) popup
========================== */
#dim{
	display: none;
	position: fixed;
	z-index: 9;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $color-bg;
}
.popup{
	display: none;
	position: fixed;
	top: 48%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 80%;
	max-width: 400px;
	background-color: $color-white;
	border-radius: 2rem;
	&.on{
		animation: popOn 0.4s;
	}
	&.out{
		animation: popOut 0.4s;
	}
}
.pop-head{
	padding: 20px;
	padding-bottom: 0;
	text-align: right;
}
.btn-pop-close{
	font-size: 24px;
	color: #222;
}
.pop-body{
	padding: 20px 20px 40px;
	text-align: center;
	.img-wrap{
		width: 100px;
		margin: 0 auto 20px;
		img{
			max-width: 100%;
		}
	}
	p{
		font-size: 2rem;
		line-height: 1.5em;
		font-weight: 600;
		.color-pink{
			color: $color-key;
		}
	}
}

@keyframes popOn{
	from{top: 46%;}
	to{top: 50%;}
}
@keyframes popOut{
	from{top: 50%;}
	to{top: 46%;}
}



/* ========================== 
 	07) media query
========================== */
@media screen and (max-width: 1300px){
	.cover-contents{
		padding: 100px 50px 120px;
	}
	.cover-typing{
		font-size: 10rem;
	}
}

@media screen and (max-width: 1024px){
	html, body{
		font-size: 9px;
	}

	.main-contents{
		article{
			padding: 60px 40px 80px;
		}
	}

	.pro-conbox{ 
		.pro-info{
			&.on{
				opacity: 1;
				transition-delay: .2s;
				&:before{
					opacity: 1;
				}
			}
		}
	}

	.how-list{
		flex-direction: column;
		li{
			width: 100%;
			min-height: initial;
			padding: 30px;
			& + li{
				margin-left: 0;
				margin-top: 20px;
			}
		}
	}	

	.pro-list-wrap{
		.pro-list{
			margin-left: -20px;
			.pro-conbox{
				width: calc((100% - 60px)/3);
				margin-left: 20px;
			}
		}
	}
}

@media screen and (max-width: 768px){
	html, body{
		font-size: 8px;
	}

	.btn-top{
		width: 35px;
		height: 35px;
		padding: 5px;
		i{
			font-size: 20px;
		}
	}

	.btn-nav{
		top: 30px;
		right: 20px;
		width: 30px;
		height: 30px;
		strong{
			width: 25px;
			&:before, 
			&:after{
				width: 25px;
			}
		}
	}
	.nav-menu{
		li{ 
			a{
				font-size: 6rem;
				&:after{
					height: 5px;
				}
			}
		}
	}

	.main-contents{
		article{
			padding: 40px 20px 60px;
		}
	}
	.main-conbox{
		h3{
			margin-bottom: 30px;
			font-size: 6rem;
		}
	}
	
	.cover-contents{
		padding-left: 20px;
		padding-right: 20px;
		background-position: center;
	}
	.cover-typing{
		font-size: 8rem;
	}
	.cover-name{
		font-size: 4rem;
		span{
			font-size: 2rem;
		}
	}

	.what-list{
		li{
			flex-direction: column;
			padding: 30px;
			strong{
				width: 100%;
				margin-bottom: 20px;
			}
			p{
				width: 100%;
			}
		}
	}

	.pro-tab-wrap{
		.pro-tab{
			li{
				& + li{
					margin-left: 25px;
				}
				a{
					.cnt{
						width: 24px;
						height: 24px;
						padding: 6px 0;
					}
				}
			}
		}
	}

	.pro-list-wrap{
		.pro-list{
			.pro-conbox{
				width: calc((100% - 40px)/2);
				.pro-text{
					padding: 15px 0 0;
					span{
						font-size: 12px;
					}
					.pro-tit{
						.pro-notopen{
							width: 15px;
							height: 15px;
							padding: 2px;
							font-size: 10px;
						}
					}
				}
			}
		}
	}

	.contact-conbox{
		padding: 30px 0;
		dl{
			& + dl{
				margin-top: 20px;
			}
			dt{
				width: 40px;
				i{
					font-size: 4rem;
				}
			}
			&:first-child dt i{
				font-size: 5rem;
			}
			dd{
				margin-left: 10px;
				font-size: 2.4rem;
			}
		}
	}

	.copyright{
		padding: 10px 0;
		p{
			font-size: 12px;
		}
	}

	.btn-pop-close{
		font-size: 20px;
	}
	.pop-body{
		.img-wrap{
			width: 80px;
		}
	}
}

@media screen and (max-width: 480px){
	.pro-list-wrap{
		.pro-list{
			margin-left: 0;
			.pro-conbox{
				width: 100%;
				margin-left: 0;
			}
		}
	}
}