/*
 * File       : main.css
 * Author     : Yoo In Yong
 *
 * Dependency : css/reset.css
 *
 * SUMMARY:
 * 01) common
 * 02) nav
 * 03) cover
 * 04) content
 */

/* common */
.main-contents{background-color: #fff;}
.main-contents > article{overflow: hidden;padding: 100px 50px 120px;}
.main-conbox{width: 100%;max-width: 1300px;margin: 0 auto;}
.main-conbox h3{display: inline-block;margin-bottom: 60px;background: linear-gradient(180deg, transparent 75%, rgba(239,66,111,.35) 25%);font-size: 10rem;line-height: 1em;font-weight: 800;color: #171c8f;font-family: 'Poppins', sans-serif;}
.main-conbox p{font-size: 1.8rem;line-height: 1.7em;word-break: keep-all;}

.btn-top{opacity: 0;position: fixed;bottom: 20px;right: 20px;z-index: 1;width: 50px;height: 50px;padding: 10px;border-radius: 50%;background-color: rgba(255,255,255,.9);color: #333;text-align: center;line-height: 1;-webkit-transition: 0.3s ease;transition: 0.3s ease;-webkit-box-shadow: 0 0 5px rgb(0 0 0 / 17%);box-shadow: 0 0 5px rgb(0 0 0 / 17%);}
.btn-top > i{font-size: 25px;}
.btn-top.on{opacity: 1;}

/* nav */
.header{position: relative;}
.nav{display: none;position: fixed;top: 0;left: 0;z-index: 5;width: 100%;height: 100vh;}
.nav-wrap{display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;background-color: rgba(0,0,0,.9);text-align: center;}
.nav-menu > li > a{display: inline-block;position: relative;padding: 20px;font-size: 8rem;-webkit-text-stroke: calc(0.01em + 1px) #ef426f;color: transparent;font-weight: 700;-webkit-transition: .3s ease;transition: .3s ease;}
.nav-menu > li > a:after{display: block;content: '';position: absolute;bottom: 10px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);width: 0;height: 10px;background-color: #ef426f;-webkit-transition: .3s ease;transition: .3s ease;}
.nav-menu > li > a:hover{-webkit-text-stroke: calc(0.01em + 1px) #fff;color: #fff;}
.nav-menu > li > a:hover:after{width: 90%;}

.btn-nav{display: block;position: fixed;top: 40px;right: 40px;z-index: 5;width: 40px;height: 40px;z-index: 10;}
.btn-nav strong{display: inline-block;position: relative;z-index: 10;width: 35px;height: 3px;background-color: #999;}
.btn-nav strong:before, .btn-nav strong:after{display: block;content: '';position: absolute;z-index: 10;left: 0;width: 35px;height: 3px;background-color: #999;}
.btn-nav strong:before{top: -10px;}
.btn-nav strong:after{bottom: -10px;}
.btn-nav.active strong{-webkit-animation: spin1 0.3s linear forwards;animation: spin1 0.3s linear forwards;}
.btn-nav.active strong:before{-webkit-animation: spin2 0.3s linear forwards;animation: spin2 0.3s linear forwards;}
.btn-nav.active strong:after{-webkit-animation: spin3 0.3s linear forwards;animation: spin3 0.3s linear forwards;}
.btn-nav.inactive strong{-webkit-animation: respin1 0.3s linear forwards;animation: respin1 0.3s linear forwards;}
.btn-nav.inactive strong:before{-webkit-animation: respin2 0.3s linear forwards;animation: respin2 0.3s linear forwards;}
.btn-nav.inactive strong:after{-webkit-animation: respin3 0.3s linear forwards;animation: respin3 0.3s linear forwards;}
@keyframes spin1{
	0%{-webkit-transform: none;transform: none;}
	50%{-webkit-transform: none;transform: none;}
	100%{-webkit-transform: rotate(135deg);transform: rotate(135deg);}
}
@keyframes spin2{
	0%{-webkit-transform: none;transform: none;}
	50%{top: 0;-webkit-transform: none;transform: none;}
	100%{top: 0;-webkit-transform: rotate(90deg);transform: rotate(90deg);}
}
@keyframes spin3{
	0%{opacity: 1;-webkit-transform: none;transform: none;}
	50%{opacity: 1;bottom: 0;-webkit-transform: none;transform: none;}
	100%{opacity: 0;bottom: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes respin1{
	0%{-webkit-transform: rotate(135deg);transform: rotate(135deg);}
	50%{-webkit-transform: none;transform: none;}
	100%{-webkit-transform: none;transform: none;}
}
@keyframes respin2{
	0%{top: 0;-webkit-transform: rotate(90deg);transform: rotate(90deg);}
	50%{top: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes respin3{
	0%{opacity: 0;bottom: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	50%{opacity: 1;bottom: 0;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	0%{opacity: 1;-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}

/* cover */
.cover-contents{position: relative;height: 100vh;padding: 150px 100px;}
.cover-bg{position: fixed;top: 0;left: 0;z-index: -1;width: 100%;height: 100%;background-image: url('../img/img_main.jpg');background-size: cover;background-position: center;-webkit-transform: translateZ(0);transform: translateZ(0);will-change: transform;}
.cover-bg:after{display: block;content: '';position: absolute;top: 0;left: 0;z-index: 1;width: 100%;height: 100%;background-color: rgba(0,0,0,.6);}
.cover-wrap{position: relative;z-index: 2;width: 100%;height: 100%;}
.cover-tit{opacity: 0;}
.cover-typing{display: inline-block;padding-right: 10px;border-right: 1px solid transparent;font-weight: 700;font-size: 12rem;line-height: 1.2em;color: rgba(255,255,255,.8);animation: cursor 1s infinite;} 
.cover-name{position: absolute;bottom: 0;right: 0;margin-top: 100px;font-size: 6rem;font-family: 'Poppins', sans-serif;color: rgba(255,255,255,.8);text-align: right;}
.cover-name > span{font-size: 3rem;}
.cover-name > strong{animation: name 5s infinite;}
@keyframes cursor{ 
	0%{border-color: transparent;} 
	50%{border-color: #ef426f;}
	100%{border-color: transparent;} 
}
@keyframes name{ 
	0%{color: rgba(255,255,255,.8);} 
	50%{color: #ef426f;} 
	100%{color: rgba(255,255,255,.8);} 
}

/* who */
.who-wrap{background-color: #fffaf6;}
.who-wrap .main-conbox p{text-align: right;}

/* what */
.what-list > li{display: flex;align-items: center;position: relative;padding: 40px;background-color: #fffaf6;transition-property: opacity,transform,box-shadow !important;}
.what-list > li:hover{-webkit-box-shadow: 5px 9px 15px 0px rgb(114 114 114 / 25%);box-shadow: 5px 9px 15px 0px rgb(114 114 114 / 25%);}
.what-list > li + li{margin-top: 20px;}
.what-list > li > strong{display: inline-block;width: 30%;font-size: 3rem;color: #333;font-weight: 600;}
.what-list > li > p{width: 70%;}

/* how */
.how-wrap{background-color: #fffaf6;}
.how-list{display: flex;}
.how-list > li{position: relative;width: 30%;min-height: 300px;padding: 50px;background-color: #fff;}
.how-list > li + li{margin-left: 5%;}
.how-list > li:before, .how-list > li:after, .how-list > li > div:before, .how-list > li > div:after{display: block;content: '';position: absolute;background-color: #171c8f;-webkit-transition: .2s ease-in-out;transition: .2s ease-in-out;}
.how-list > li:before{top: 0;left: 0;width: 0;height: 7px;}
.how-list > li:after{top: 0;right: 0;width: 7px;height: 0;}
.how-list > li > div:before{bottom: 0;right: 0;width: 0;height: 7px;}
.how-list > li > div:after{bottom: 0;left: 0;width: 7px;height: 0;}
.how-list > li:hover:before{width: 100%;}
.how-list > li:hover:after{height: 100%;transition-delay: .2s;}
.how-list > li:hover > div:before{width: 100%;transition-delay: .4s;}
.how-list > li:hover > div:after{height: 100%;transition-delay: .6s;}
.how-list > li strong{display: inline-block;margin-bottom: 2rem;padding-bottom: 1rem;padding-right: 5rem;border-bottom: 1px solid #ddd;font-size: 3rem;color: #333;font-weight: 600;}
.how-list > li p{font-size: 2rem;}

/* project */
.main-contents .project-wrap{position: relative;height: auto;}

.exp-list-wrap{width: 100%;height: 1650px;}
.exp-list{display: flex;flex-wrap: wrap;flex-direction: column;align-items: center;height: 100%;}

.exp-conbox{overflow: hidden;width: calc((100% - 81px)/4);position: relative;z-index: 1;margin: 10px;-webkit-transition: .3s;transition: .3s;}
.exp-conbox:before{display: block;content: '';position: absolute;left: 0;top: 0;z-index: 5;width: 100%;height: 100%;background-color: #fff;opacity: 1;}
.exp-conbox.on:before{opacity: 0;-webkit-transition-delay: 1.5s;transition-delay: 1.5s;}

.exp-conbox:after{display: block;content: '';position: absolute;z-index: 6;width: 100%;height: 100%;background-color: #ef426f;}
.exp-conbox:nth-child(1):after{background-color: #9ac426;}
.exp-conbox:nth-child(2):after{background-color: #ff7e50;}
.exp-conbox:nth-child(3):after{background-color: #7b1820;}
.exp-conbox:nth-child(4):after{background-color: #53677d;}
.exp-conbox:nth-child(5):after{background-color: #004897;}
.exp-conbox:nth-child(6):after{background-color: #000;}
.exp-conbox:nth-child(7):after{background-color: #f5742d;}
.exp-conbox:nth-child(8):after{background-color: #104e8b;}
.exp-conbox:nth-child(9):after{background-color: #04499c;}
.exp-conbox:nth-child(10):after{background-color: #092c4c;}
.exp-conbox:nth-child(11):after{background-color: #f2dfd0;}
.exp-conbox:nth-child(12):after{background-color: #01b7c5;}
.exp-conbox:nth-child(13):after{background-color: #f5add0;}
.exp-conbox:nth-child(14):after{background-color: #bbe8ea;}
.exp-conbox:nth-child(15):after{background-color: #003f6d;}
.exp-conbox:nth-child(16):after{background-color: #082541;}
.exp-conbox:nth-child(17):after{background-color: #98edd8;}
.exp-conbox:nth-child(18):after{background-color: #352d7a;}
.exp-conbox:nth-child(19):after{background-color: #a9884e;}
.exp-conbox:nth-child(20):after{background-color: #4396e6;}

.exp-conbox.on:after{animation-duration: 2s;animation-timing-function: ease-in-out;animation-fill-mode: forwards;}
.exp-conbox:nth-child(8n).on:after{top: -100%;left: 0;animation-name: expCon_top;animation-delay: .3s;}
.exp-conbox:nth-child(8n+1).on:after{animation-name: expCon_bottom;animation-delay: .9s;}
.exp-conbox:nth-child(8n+2).on:after{right: 100%;top: 0;animation-name: expCon_right;animation-delay: 1s;}
.exp-conbox:nth-child(8n+3).on:after{left: 100%;top: 0;animation-name: expCon_left;animation-delay: .6s;}
.exp-conbox:nth-child(8n+4).on:after{animation-name: expCon_top;animation-delay: .5s;}
.exp-conbox:nth-child(8n+5).on:after{animation-name: expCon_bottom;animation-delay: .65s;}
.exp-conbox:nth-child(8n+6).on:after{right: 100%;top: 0;animation-name: expCon_right;animation-delay: .8s;}
.exp-conbox:nth-child(8n+7).on:after{left: 100%;top: 0;animation-name: expCon_left;animation-delay: .4s;}
@keyframes expCon_top{
	0%{top: -100%;left: 0;}
	40%{top: 0;}
	80%{top: 0;}
	100%{top: 100%;}
}
@keyframes expCon_bottom{
	0%{bottom: 100%;left: 0;}
	30%{bottom: 0%;}
	60%{bottom: 0%;}
	100%{bottom: -100%;}
}
@keyframes expCon_right{
	0%{right: 100%;top: 0;}
	30%{right: 0%;}
	60%{right: 0%;}
	100%{right: -100%;}
}
@keyframes expCon_left{
	0%{left: 100%;top: 0;}
	40%{left: 0%;}
	80%{left: 0%;}
	100%{left: -100%;}
}

.exp-conbox > img{max-width: 100%;border: 1px solid #ccc;}
.exp-info{overflow: hidden;display: none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.7);-webkit-box-shadow: 5px 9px 15px 0px rgb(114 114 114 / 25%);box-shadow: 5px 9px 15px 0px rgb(114 114 114 / 25%);}
.exp-text{position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);z-index: 10;width: 100%;padding: 0 40px;}
.exp-text .exp-tit{display: inline-block;position: relative;margin-bottom: 5px;font-size: 1.8rem;line-height: 1.4em;color: #fff;font-weight: 600;}
.exp-text .exp-tit:after{display: block;content: '';position: absolute;left: 50%;bottom: 0;-webkit-transform: translateX(-50%);transform: translateX(-50%);width: 0%;height: 3px;background-color: rgba(239,66,111,.7);-webkit-transition: .3s;transition: .3s;}
.exp-text .exp-tit:hover:after{width: 100%;}
.exp-text span{display: inline-block;margin: 2px;padding: 3px 10px;border: 1px solid #000;background-color: #000;border-radius: 5px;font-size: 1.5rem;line-height: 1.2em;color: #fff;}
.new .exp-text .exp-type{border-color: #ef426f;background-color: #ef426f;}
.legacy .exp-text .exp-type{border-color: #171c8f;background-color: #171c8f;}.exp-text > .exp-notopen{border-color: #c03;background-color: #c03;}

/* contact */
.contact-wrap{position: relative;background-color: #fffaf6;}
.contact-conbox{padding: 50px 0;}
.contact-conbox > dl{display: flex;align-items: center;}
.contact-conbox > dl + dl{margin-top: 50px;}
.contact-conbox > dl > dt{width: 70px;text-align: center;}
.contact-conbox > dl > dt > i{font-size: 6rem;}
.contact-conbox > dl:first-child > dt > i{font-size: 7rem;}
.contact-conbox > dl > dd{margin-left: 20px;font-size: 5rem;font-weight: 600;word-break: break-all;}
.copyright{position: absolute;bottom: 0;left: 0;width: 100%;padding: 20px 0;background-color: #e3dad2;text-align: center;}
.copyright > p{color: #333;font-size: 14px;}

/* media */
@media screen and (max-width: 1300px){
	.cover-contents{padding: 100px 50px 120px;}
	.cover-typing{font-size: 10rem;}

	.exp-list-wrap{height: 1500px;}
	.exp-text{padding: 0 20px;}
}

@media screen and (max-width: 1200px){
	.exp-list-wrap{height: 1350px;}
}

@media screen and (max-width: 1024px){
	html, body{font-size: 9px;}

	.main-contents > article{padding: 60px 40px 80px;}

	.exp-conbox .exp-info.on{opacity: 1;transition-delay: .2s;}
	.exp-conbox .exp-info.on:before{opacity: 1;}

	.how-list{flex-direction: column;}
	.how-list > li{width: 100%;min-height: initial;padding: 30px;}
	.how-list > li + li{margin-left: 0;margin-top: 20px;}

	.exp-conbox{width: 200px;}
	.exp-conbox:before{display: none;}
	.exp-list-wrap{height: 1450px;}
}

@media screen and (max-width: 768px){
	html, body{font-size: 8px;}

	.btn-top{width: 35px;height: 35px;padding: 5px;}
	.btn-top > i{font-size: 20px;}

	.btn-nav{top: 30px;right: 20px;width: 30px;height: 30px;}
	.btn-nav strong, .btn-nav strong:before, .btn-nav strong:after{width: 25px;}
	.nav-menu > li > a{font-size: 6rem;}
	.nav-menu > li > a:after{height: 5px;}

	.main-contents > article{padding: 40px 20px 60px;}
	.main-conbox h3{margin-bottom: 30px;font-size: 6rem;}
	
	.cover-contents{padding-left: 20px;padding-right: 20px;background-position: center;}
	.cover-typing{font-size: 8rem;}
	.cover-name{font-size: 4rem;}
	.cover-name > span{font-size: 2rem;}

	.what-list > li{flex-direction: column;padding: 30px;}
	.what-list > li > strong{width: 100%;margin-bottom: 20px;}
	.what-list > li > p{width: 100%;}

	.exp-menu-wrap{position: static;top: auto;left: auto;-webkit-transform: none;transform: none;}
	.exp-menu li{display: inline-block;height: auto;}
	.exp-menu li + li{margin-left: 10px;}
	.exp-menu li a, .exp-menu li.on a, .exp-menu li a:hover{font-size: 4rem;}
	.exp-menu li.on a:after{height: 2px;margin-top: 1px;}

	.exp-list-wrap{height: 2100px;}
	.exp-text .exp-tit{display: block;}
	.exp-text .exp-tit:hover:after{width: 0;}

	.contact-conbox{padding: 30px 0;}
	.contact-conbox > dl + dl{margin-top: 20px;}
	.contact-conbox > dl > dt{width: 40px;}
	.contact-conbox > dl > dt > i{font-size: 4rem;}
	.contact-conbox > dl:first-child > dt > i{font-size: 5rem;}
	.contact-conbox > dl > dd{margin-left: 10px;font-size: 2.4rem;}

	.copyright{padding: 10px 0;}
	.copyright > p{font-size: 12px;}
}

@media screen and (max-width: 480px){
	.exp-list-wrap{height: auto;}
	.exp-conbox{width: 100%;margin-left: 0;margin-right: 0;}
}